figure.highlight {
/* 控制代码框顶栏颜色、宽度、圆角等 */
/*
    background: #21252b;
    background: rgb(33, 37, 43);黑色
    background: rgb(246,248,250);白色
    */
  background: #21252b;
  border-radius: 8px;
  box-shadow: 1px 2px 12px 1px rgba(0,0,0,0.3);
  padding-top: 25px;
  z-index: 998;
}
figure.highlight::before {
/* 绘制三个小圆点 */
  background: #fc625d;
  border-radius: 50%;
  box-shadow: 20px 0 #fdbc40, 40px 0 #35cd4b;
  content: ' ';
  height: 12px;
  left: 12px;
  margin-top: -17.5px;
  position: absolute;
  width: 12px;
  z-index: 999;
}
